* {
    box-sizing: border-box;
    box-shadow: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkslategray;

}

body {
    margin: 0;
    padding: 0;

}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0em;
    color: black;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    border-bottom: 3px solid rgba(255, 255, 255, 0.7);

}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.titles {
    padding-bottom: 3em;
    background-color: lightseagreen;
    background-size: cover;
}

.main-body {
    
    background-image: url("images/bgp.jpeg");
    background-blend-mode: multiply;
    background-size: 88em;
}

.about-profile-img {
    
    height: 205px;
    width: 200px;
    margin: 15px;
    border-radius: 75%;
    margin-top: 15em;
    margin-left: 52em;

}

.my-name {
    text-align: center;
    margin-top: 0.1em;
    font-size: 4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.content-section {
    margin: 1em;
}


.section-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #333;
    text-align: left;
    font-size: 2em;
}





.padding {
    background-color: palevioletred;
    max-width: 950px;
    margin: 1em;
    padding-left: 2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}



.padding-2 {
    background-color: palegreen;
    padding-top: 0.1em;
    margin-left: 48em;
    margin-right: 1em;
    padding-right: 2em;
    padding-bottom: 0.3em;
    padding-left: 2em;
}

.padding-3 {
    background-color: khaki;
    max-width: 950px;
    margin: 1em;
    padding-left: 2em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}
